//== Typography
//
//## Font, line-height, headings, and more.

//* Color declarations
$blue: #025FEB
$white: #ffffff
$creamy-cat: #E4EDF2
$grey-light: #F6F7F7

$link-color: $white
$menu-text-color: $white
$footer-bg-color: $grey-light
$header-bg-color: $blue
$table-bg-color: $creamy-cat

//* Branding colors assigment
$brand-primary: $creamy-cat

//* Font families
$font-family-open-sans: Open Sans
$font-family-sans-serif: sans-serif

$font-family-base: $font-family-open-sans

//* Font sizes
$font-size-base: 16px
$font-size-large: 24px
$font-size-base-mobile: 14px

//* Font weights
$regular: 400
$medium: 500
$bold: 700

// Line height and bottom margin
$line-height-base: 1.3

//== Media queries and breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
$screen-xs-min: 0

// Small screen / tablet
$screen-sm-min: 768px

// Medium screen / desktop
$screen-md-min: 992px

// Large screen / wide desktop
$screen-lg-min: 1200px

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: $screen-sm-min - 1
$screen-sm-max: $screen-md-min - 1
$screen-md-max: $screen-lg-min - 1
